@charset "utf-8";
html, body {
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Microsoft Yahei",sans-serif, Arial; }
.left{
    height: inherit;
    position: relative;
    top:0;
    float: left;
    width: 200px;
    box-sizing: border-box;
}
.left .user-block{
    width: 100%;
    height: 100%;
}
.user-block .line{

}
.right{
    height: 100%;
    margin-left: 200px;
    box-sizing: border-box;
    position: relative;
}
.right .input-block{
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background: #eee;
}
.right .chat-block{
    background: #2aabd2;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    box-sizing: border-box;
}
